body {
  background-color: #333; color: #bbb; line-height: normal;
  font-family: Lucida Grande, Lucida Sans, Arial, Helvetica Neue, Verdana, Geneva, sans-serif;
  font-size: 11px; font-weight: normal; text-decoration: none;
      line-height: 1.5em;
}
a img { 
    border: 0px solid transparent;
}
a, a:link, a:visited, a:active, a:hover { 
    color: #cdcdcd; text-decoration: none;
}

a:active, a:hover {
    text-decoration: underline;
}

h1 {
    font-family: Arial, Helvetica Neue, Verdana, Geneva, sans-serif;
    width: 100%; letter-spacing: 0.1em;
    margin-bottom: 1em; font-size: 1.65em;
}
canvas { 
    display: block; 
    outline: 0px; 
    margin-bottom: 1.5em; 
}
#content { 
    margin: 0px auto 0px auto; padding: 12px 0px 0px 0px;
    width:1440px; min-width: 300px; overflow: auto;
    /* border-left: 1px solid #444; border-top: 1px solid #444; 
    border-right: 1px solid #333; border-bottom: 1px solid #333;
    background-color: #3d3d3d; */
    float:none;
}
#subcontent {
    padding: 0px; margin:0px;
    float:none;
    width: 1400px;
}

.scmd, a.scmd:link {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.bcmd.lit, a.scmd.lit:link {
    color:#000;
}

a.credits-btn {
    text-decoration: none;
}

#CDMS-credits {
    display:none;
}

canvas#Snapper {
    display:none;
}